
body {
  background-color: black;
  color: white;
  text-align: center;
}

button {
  background-color: #7979ff;
  color: white;
  font-size: 20px;
  padding: 12px 18px;
  border-radius: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

input {
  background-color: #444444;
  //background-color: #7979ff;
  color: white;
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.App {
  display: flex;
  justify-content: center;

  .wrapper {
    // When screen >= 400, then width is 400, else 100%
    width: 100%;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    //height: 100vh;
  }

}
